---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>
      <h2>{{ site.test }}</h2>
      <h2>{{ site.test-2 }}</h2>
      <h2>{{ site.test-2 }}</h2>
      <h2>{{ site.data.samplelist.docs_list_title }}</h2>
      <p><b>Feedback</b></p>
      <p>{{site.data.samplelist.feedback}}</p>
      <p><b>Block</b></p>
      <p>{{site.data.samplelist.block}}</p>
      <ul>
        {% for item in site.data.samplelist.docs2 %}
          {% if item.version == 1 %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      
      <ul>
         {% for item in site.data.samplelist.docs %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
         {% endfor %}
      </ul>
      
      <ul>
        {% for item in site.data.samplelist.bikes %}
        <li>{{item.title}}</li>
        {% endfor %}
     </ul>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
